.version.about /* version checker */
{
	color: #00001C;
	background-color: #6B19B3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 559px;
	min-height: 611px;
	padding-left: 200px;
	padding-top: 34px;
	padding-right: 201px;
	margin-left: auto;
	margin-right: auto;
}

#u1100-7
{
	z-index: 2;
	width: 222px;
	min-height: 105px;
	color: #0000FF;
	line-height: 14px;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 169px;
	position: relative;
}

#u1116-4
{
	z-index: 9;
	width: 222px;
	min-height: 35px;
	background-color: transparent;
	color: #0000FF;
	line-height: 14px;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 169px;
	margin-top: 14px;
	position: relative;
}

#u1116-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 14px 0px 0px 169px;
}

#u1116-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	margin: 14px 0px 0px 169px;
}

#u1116-4:hover p
{
	color: #00FF00;
	visibility: inherit;
}

#u1141-4
{
	z-index: 13;
	width: 127px;
	min-height: 8px;
	background-color: transparent;
	color: #0000FF;
	line-height: 14px;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 169px;
	margin-top: 14px;
	position: relative;
}

#u1141-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 8px;
	margin: 14px 0px 0px 169px;
}

#u1141-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 8px;
	margin: 14px 0px 0px 169px;
}

#u1141-4:hover p
{
	color: #00FF00;
	visibility: inherit;
}

#u1116-4:active p,#u1141-4:active p
{
	color: #FF0000;
	visibility: inherit;
}

#u1143
{
	z-index: 21;
	width: 559px;
	margin-top: 35px;
	position: relative;
}

#u1136-4
{
	z-index: 17;
	width: 120px;
	min-height: 8px;
	color: #0000FF;
	line-height: 14px;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-left: 220px;
	margin-top: 43px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
}

