.version.artists /* version checker */
{
	color: #0000FD;
	background-color: #E67661;
}

.html
{
	background: #FFFFFF url("../images/tumblr_m9hjukpvet1qgyb21o1_500.gif") repeat right center scroll;
}

#page
{
	z-index: 1;
	width: 263px;
	min-height: 427px;
	padding-top: 46px;
	padding-right: 697px;
	margin-left: auto;
	margin-right: auto;
}

#u1351
{
	z-index: 2;
	width: 263px;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,#000000 ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,#000000 ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,#000000 ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#00FFFFFF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 757px;
	position: relative;
}

#u1305
{
	z-index: 3;
	width: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 25px;
}

#u1306-4
{
	z-index: 20;
	width: 250px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}

#u1306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u1306-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px;
}

#u1306-4:hover p,#u1306-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1318-4
{
	z-index: 12;
	width: 284px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1318-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1318-4:hover p,#u1318-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1322-4
{
	z-index: 8;
	width: 312px;
	min-height: 2px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1322-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 2px;
	margin: 8px 0px 0px;
}

#u1322-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 2px;
	margin: 8px 0px 0px;
}

#u1322-4:hover p,#u1322-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1320-4
{
	z-index: 4;
	width: 307px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1318-4:active,#u1320-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1320-4:hover p,#u1320-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1317-4
{
	z-index: 16;
	width: 307px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1320-4:active,#u1317-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1317-4:hover p,#u1317-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1314-4
{
	z-index: 28;
	width: 307px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1317-4:active,#u1314-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1314-4:hover p,#u1314-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1312-4
{
	z-index: 32;
	width: 307px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1314-4:active,#u1312-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1312-4:hover p,#u1312-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1307-4
{
	z-index: 36;
	width: 312px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1312-4:active,#u1307-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1307-4:hover p,#u1307-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1321-4
{
	z-index: 40;
	width: 307px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1307-4:active,#u1321-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1321-4:hover p,#u1321-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1311-4
{
	z-index: 57;
	width: 323px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1321-4:active,#u1311-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1311-4:hover p,#u1311-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1315-4
{
	z-index: 61;
	width: 250px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1311-4:active,#u1315-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1315-4:hover p,#u1315-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1309-4
{
	z-index: 65;
	width: 250px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 9px;
	position: relative;
}

#u1309-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 9px 0px 0px;
}

#u1309-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 9px 0px 0px;
}

#u1309-4:hover p,#u1309-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1308-4
{
	z-index: 44;
	width: 245px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 7px;
	position: relative;
}

#u1308-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 7px 0px 0px;
}

#u1308-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 7px 0px 0px;
}

#u1308-4:hover p,#u1308-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1313-4
{
	z-index: 53;
	width: 200px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1315-4:active,#u1313-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1313-4:hover p,#u1313-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1316-4
{
	z-index: 24;
	width: 245px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1313-4:active,#u1316-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1316-4:hover p,#u1316-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1310-5
{
	z-index: 48;
	width: 284px;
	background-color: transparent;
	color: #0000FF;
	margin-top: 8px;
	position: relative;
}

#u1316-4:active,#u1310-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1310-5:hover p,#u1310-5:hover a,#u1310-5:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1310-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1310
{
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
}

#u1319-4
{
	z-index: 69;
	width: 238px;
	background-color: transparent;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	position: relative;
}

#u1310-5:active,#u1319-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1319-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u1319-4:hover p,#u1319-4:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1306-4:active p,#u1306-4:active span,#u1318-4:active p,#u1318-4:active span,#u1322-4:active p,#u1322-4:active span,#u1320-4:active p,#u1320-4:active span,#u1317-4:active p,#u1317-4:active span,#u1314-4:active p,#u1314-4:active span,#u1312-4:active p,#u1312-4:active span,#u1307-4:active p,#u1307-4:active span,#u1321-4:active p,#u1321-4:active span,#u1311-4:active p,#u1311-4:active span,#u1315-4:active p,#u1315-4:active span,#u1309-4:active p,#u1309-4:active span,#u1308-4:active p,#u1308-4:active span,#u1313-4:active p,#u1313-4:active span,#u1316-4:active p,#u1316-4:active span,#u1310-5:active p,#u1310-5:active a,#u1310-5:active span,#u1319-4:active p,#u1319-4:active span
{
	color: #FF00FF;
	visibility: inherit;
}

#u1306,#u1318,#u1322,#u1320,#u1317,#u1314,#u1312,#u1307,#u1321,#u1311,#u1315,#u1309,#u1308,#u1313,#u1316,#u1319
{
	text-decoration: underline;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

