.version.index /* version checker */
{
	color: #0000EC;
	background-color: #1C64CB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 739px;
	min-height: 362px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 121px 62px 100px;
}

#pu92
{
	width: 0.01px;
	margin-left: 20px;
}

#u92
{
	z-index: 2;
	width: 719px;
	position: relative;
	margin-right: -10000px;
}

#u128
{
	z-index: 4;
	width: 719px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u131
{
	z-index: 6;
	width: 719px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
}

#pu134
{
	width: 0.01px;
	margin-left: 162px;
	margin-top: 30px;
}

#u134
{
	z-index: 10;
	width: 436px;
	min-height: 77px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u180-4
{
	z-index: 75;
	width: 169px;
	min-height: 8px;
	font-size: 10px;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 256px;
}

#u179-4
{
	z-index: 71;
	width: 221px;
	min-height: 14px;
	color: #0000FF;
	font-style: italic;
	margin-left: 269px;
	margin-top: 31px;
	position: relative;
}

#pu174-4
{
	width: 0.01px;
	margin-top: 49px;
}

#u174-4
{
	z-index: 55;
	width: 143px;
	min-height: 17px;
	color: #0000FF;
	font-size: 30px;
	line-height: 36px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,54,90);
	-ms-transform: matrix(0,-1,1,0,54,90);
	-o-transform: matrix(0,-1,1,0,54,90);
	transform: matrix(0,-1,1,0,54,90);
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: -53px;
}

#pu184
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 57px;
}

#u184
{
	z-index: 87;
	width: 14px;
	position: relative;
}

#u189
{
	z-index: 99;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u195
{
	z-index: 93;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u192
{
	z-index: 105;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u219
{
	z-index: 89;
	width: 14px;
	margin-top: 2px;
	position: relative;
}

#u213
{
	z-index: 101;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u210
{
	z-index: 95;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u246
{
	z-index: 107;
	width: 14px;
	margin-top: 2px;
	position: relative;
}

#u237
{
	z-index: 91;
	width: 14px;
	margin-top: 2px;
	position: relative;
}

#u243
{
	z-index: 103;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u301
{
	z-index: 117;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u234
{
	z-index: 97;
	width: 14px;
	margin-top: 1px;
	position: relative;
}

#u240
{
	z-index: 109;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u249
{
	z-index: 111;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u293
{
	z-index: 113;
	width: 14px;
	margin-top: 2px;
	position: relative;
}

#pu163-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 76px;
}

#u163-4
{
	z-index: 35;
	width: 207px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u160-4
{
	z-index: 23;
	width: 228px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u159-4
{
	z-index: 19;
	width: 245px;
	min-height: 2px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u158-4
{
	z-index: 15;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u161-4
{
	z-index: 27;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u165-4
{
	z-index: 43;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u162-4
{
	z-index: 31;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u166-4
{
	z-index: 47;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	position: relative;
}

#u170-4
{
	z-index: 51;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u176-4
{
	z-index: 67;
	width: 245px;
	color: #0000FF;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u300-4
{
	z-index: 129;
	width: 200px;
	color: #0000FF;
	position: relative;
}

#u164-4
{
	z-index: 39;
	width: 245px;
	color: #0000FF;
	margin-left: 1px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u182-4
{
	z-index: 79;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u183-4
{
	z-index: 83;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u291-4
{
	z-index: 121;
	width: 200px;
	color: #0000FF;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u305-4
{
	z-index: 59;
	width: 145px;
	min-height: 17px;
	color: #0000FF;
	font-size: 30px;
	line-height: 36px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,55,91);
	-ms-transform: matrix(0,-1,1,0,55,91);
	-o-transform: matrix(0,-1,1,0,55,91);
	transform: matrix(0,-1,1,0,55,91);
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 297px;
}

#u549
{
	z-index: 137;
	width: 181px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 474px;
}

#pu297
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: -1px;
}

#u297
{
	z-index: 115;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u296-4
{
	z-index: 125;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u543
{
	z-index: 135;
	width: 275px;
	margin-left: 55px;
	margin-top: 57px;
	position: relative;
}

#pu304-4
{
	width: 0.01px;
	margin-top: 57px;
}

#u304-4
{
	z-index: 63;
	width: 129px;
	min-height: 36px;
	color: #0000FF;
	font-size: 30px;
	line-height: 36px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,47,83);
	-ms-transform: matrix(0,-1,1,0,47,83);
	-o-transform: matrix(0,-1,1,0,47,83);
	transform: matrix(0,-1,1,0,47,83);
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: -47px;
}

#u174,#u163,#u160,#u159,#u158,#u161,#u165,#u162,#u166,#u170,#u176,#u300,#u164,#u182,#u183,#u291,#u305,#u296,#u304
{
	text-decoration: underline;
}

#u489
{
	z-index: 133;
	width: 301px;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#u255
{
	z-index: 119;
	width: 302px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 403px;
}

#pu104
{
	width: 0.01px;
	margin-left: 55px;
	margin-top: 45px;
}

#u104
{
	z-index: 8;
	width: 303px;
	position: relative;
	margin-right: -10000px;
}

#u146
{
	z-index: 11;
	width: 392px;
	-webkit-transform: matrix(0,1,-1,0,348,-44);
	-ms-transform: matrix(0,1,-1,0,348,-44);
	-o-transform: matrix(0,1,-1,0,348,-44);
	transform: matrix(0,1,-1,0,348,-44);
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 302px;
}

#u152
{
	z-index: 13;
	width: 304px;
	margin-left: 57px;
	margin-top: 46px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 54px;
}

#page .verticalspacer
{
	clear: both;
}

