.version.index /* version checker */
{
	color: #00001F;
	background-color: #984613;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 728px;
	min-height: 411px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px 0px 0px 10px ;
	-webkit-border-radius: 10px 0px 0px 10px ;
	-khtml-border-radius: 10px 0px 0px 10px ;
	border-radius: 10px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
	padding: 13px 129px 62px 103px;
}

#u669
{
	z-index: 25;
	width: 291px;
	-webkit-transform: matrix(0,1,-1,0,486,194);
	-ms-transform: matrix(0,1,-1,0,486,194);
	-o-transform: matrix(0,1,-1,0,486,194);
	transform: matrix(0,1,-1,0,486,194);
	margin-left: 237px;
	top: -194px;
	margin-bottom: -388px;
	position: relative;
}

#pu134
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 31px;
}

#u134
{
	z-index: 6;
	width: 692px;
	min-height: 160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u180-4
{
	z-index: 19;
	width: 169px;
	min-height: 8px;
	font-size: 10px;
	line-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 500px;
}

#u750-4
{
	z-index: 128;
	width: 221px;
	min-height: 14px;
	color: #0000FF;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 231px;
}

#pu691-4
{
	width: 0.01px;
	margin-top: 30px;
}

#u691-4
{
	z-index: 67;
	width: 143px;
	min-height: 17px;
	line-height: 36px;
	color: #0000FF;
	font-size: 30px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,54,90);
	-ms-transform: matrix(0,-1,1,0,54,90);
	-o-transform: matrix(0,-1,1,0,54,90);
	transform: matrix(0,-1,1,0,54,90);
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: -53px;
}

#pu695
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 54px;
}

#u695
{
	z-index: 84;
	width: 14px;
	position: relative;
}

#u707
{
	z-index: 96;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u701
{
	z-index: 90;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u713
{
	z-index: 102;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u697
{
	z-index: 86;
	width: 14px;
	margin-top: 2px;
	position: relative;
}

#u709
{
	z-index: 98;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u703
{
	z-index: 92;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u715
{
	z-index: 104;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u699
{
	z-index: 88;
	width: 14px;
	margin-top: 1px;
	position: relative;
}

#pu686-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 73px;
}

#u686-4
{
	z-index: 47;
	width: 207px;
	color: #0000FF;
	position: relative;
}

#u683-4
{
	z-index: 35;
	width: 228px;
	color: #0000FF;
	position: relative;
}

#u682-4
{
	z-index: 31;
	width: 245px;
	min-height: 2px;
	color: #0000FF;
	position: relative;
}

#u681-4
{
	z-index: 27;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u684-4
{
	z-index: 39;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u688-4
{
	z-index: 55;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u685-4
{
	z-index: 43;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u689-4
{
	z-index: 59;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u690-4
{
	z-index: 63;
	width: 245px;
	color: #0000FF;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u305-4
{
	z-index: 11;
	width: 145px;
	min-height: 17px;
	line-height: 36px;
	color: #0000FF;
	font-size: 30px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,55,91);
	-ms-transform: matrix(0,-1,1,0,55,91);
	-o-transform: matrix(0,-1,1,0,55,91);
	transform: matrix(0,-1,1,0,55,91);
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 293px;
}

#u751
{
	z-index: 132;
	width: 275px;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#u711
{
	z-index: 100;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u692-4
{
	z-index: 71;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u725
{
	z-index: 114;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u729-4
{
	z-index: 124;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#pu705
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: -2px;
}

#u705
{
	z-index: 94;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u687-4
{
	z-index: 51;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u717
{
	z-index: 106;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u693-4
{
	z-index: 75;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u719
{
	z-index: 108;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u694-5
{
	z-index: 79;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#pu711,#pu721
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: -1px;
}

#u721
{
	z-index: 110;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u727-4
{
	z-index: 116;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#pu725,#pu717,#pu719,#pu723
{
	width: 0.01px;
	margin-left: 54px;
}

#u723
{
	z-index: 112;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u728-4
{
	z-index: 120;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#pu304-4
{
	width: 0.01px;
	margin-top: 32px;
}

#u304-4
{
	z-index: 15;
	width: 129px;
	min-height: 36px;
	line-height: 36px;
	color: #0000FF;
	font-size: 30px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,47,83);
	-ms-transform: matrix(0,-1,1,0,47,83);
	-o-transform: matrix(0,-1,1,0,47,83);
	transform: matrix(0,-1,1,0,47,83);
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: -47px;
}

#u691,#u686,#u683,#u682,#u681,#u684,#u688,#u685,#u689,#u690,#u305,#u692,#u729,#u687,#u693,#u727,#u728,#u304
{
	text-decoration: underline;
}

#u769
{
	z-index: 2;
	width: 304px;
	position: relative;
	margin-right: -10000px;
	left: 43px;
}

#u489
{
	z-index: 23;
	width: 301px;
	position: relative;
	margin-right: -10000px;
	left: 401px;
}

#pu775
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 42px;
}

#u775
{
	z-index: 134;
	width: 304px;
	position: relative;
	margin-right: -10000px;
}

#u104
{
	z-index: 4;
	width: 303px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 355px;
}

#pu146
{
	width: 0.01px;
	margin-left: 43px;
	margin-top: 45px;
}

#u146
{
	z-index: 7;
	width: 392px;
	-webkit-transform: matrix(0,1,-1,0,348,-44);
	-ms-transform: matrix(0,1,-1,0,348,-44);
	-o-transform: matrix(0,1,-1,0,348,-44);
	transform: matrix(0,1,-1,0,348,-44);
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: -44px;
}

#u152
{
	z-index: 9;
	width: 304px;
	position: relative;
	margin-right: -10000px;
	left: 355px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 54px;
}

#page .verticalspacer
{
	clear: both;
}

