.version.index /* version checker */
{
	color: #00001B;
	background-color: #61A3B6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 559.56967676145px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 53px;
	padding-bottom: 20px;
}

#u1400-11
{
	z-index: 20;
	width: 215px;
	min-height: 55px;
	line-height: 14px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 120px;
	left: 120px;
}

#u1400-4,#u1400-6,#u1400-8,#u1400-9
{
	font-weight: normal;
	font-style: normal;
}

#u1402-4
{
	z-index: 37;
	width: 129px;
	min-height: 8px;
	background-color: transparent;
	line-height: 14px;
	color: #0000FF;
	font-size: 12px;
	text-align: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 120px;
	right: 120px;
}

#u1402-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 8px;
	margin: 0px;
}

#u1402-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 8px;
	margin: 0px;
}

#u1402-4:hover p
{
	color: #00FF00;
	visibility: inherit;
}

#u1589
{
	z-index: 41;
	width: 2591px;
	left: -60px;
	position: relative;
	pointer-events: none;
}

#pu1401-6
{
	width: 0.01px;
	padding-bottom: 450px;
	margin-left: 20px;
	margin-top: -418px;
}

#u1401-6
{
	z-index: 31;
	width: 215px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: fixed;
	top: 190px;
	left: 120px;
}

#u1401-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u1401-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px;
}

#u1401-6:hover p,#u1401-6:hover span
{
	color: #00FF00;
	visibility: inherit;
}

#u1402-4:active p,#u1401-6:active p,#u1401-6:active span
{
	color: #FF0000;
	visibility: inherit;
}

#u1401-2
{
	text-decoration: underline;
	font-style: italic;
}

#u1401-3
{
	text-decoration: none;
	font-style: normal;
}

#u1690
{
	z-index: 18;
	width: 42px;
	position: fixed;
	bottom: 121px;
	left: 120px;
}

#u1595
{
	z-index: 2;
	width: 100px;
	position: fixed;
	bottom: 120px;
	left: 170px;
}

#u1595_img
{
	padding-right: 1px;
}

#u1567
{
	z-index: 12;
	width: 44px;
	position: fixed;
	bottom: 120px;
	left: 278px;
}

#u1565
{
	z-index: 10;
	width: 44px;
	position: fixed;
	bottom: 120px;
	left: 330px;
}

#u1563
{
	z-index: 8;
	width: 43px;
	position: fixed;
	bottom: 120px;
	left: 382px;
}

#u1577
{
	z-index: 16;
	width: 43px;
	position: fixed;
	bottom: 120px;
	left: 434px;
}

#u1561
{
	z-index: 6;
	width: 44px;
	position: fixed;
	bottom: 120px;
	left: 485px;
}

#u1575
{
	z-index: 14;
	width: 56px;
	-webkit-transform: matrix(0,1,-1,0,49,-22);
	-ms-transform: matrix(0,1,-1,0,49,-22);
	-o-transform: matrix(0,1,-1,0,49,-22);
	transform: matrix(0,1,-1,0,49,-22);
	position: fixed;
	bottom: 114px;
	left: 530px;
}

#u1559
{
	z-index: 4;
	width: 44px;
	position: fixed;
	bottom: 121px;
	left: 587px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 100px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

