.version.mixes /* version checker */
{
	color: #000015;
	background-color: #C7D7EB;
}

.html
{
	background: #FFFFFF url("../images/lightning-010.gif") no-repeat center bottom scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 395px;
	min-height: 114px;
	margin-left: auto;
	margin-right: auto;
	padding: 193px 282px 193px 283px;
}

#u1324
{
	z-index: 2;
	width: 395px;
	left: -1px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

