.version.index /* version checker */
{
	color: #0000FB;
	background-color: #1945C4;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2757px;
}

#page_position_content
{
	padding-top: 33px;
	padding-bottom: 71px;
}

#pu335
{
	width: 0.01px;
	margin-left: -6px;
}

#u335
{
	z-index: 2;
	width: 390px;
	position: relative;
	margin-right: -10000px;
}

#u337
{
	z-index: 4;
	width: 390px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#u339
{
	z-index: 6;
	width: 390px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
}

#pu343
{
	width: 0.01px;
}

#u343
{
	z-index: 10;
	width: 381px;
	min-height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u357-4
{
	z-index: 47;
	width: 180px;
	min-height: 22px;
	line-height: 12px;
	font-size: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 203px;
}

#u356-4
{
	z-index: 43;
	width: 225px;
	min-height: 14px;
	color: #0000FF;
	font-style: italic;
	margin-left: 77px;
	margin-top: 14px;
	position: relative;
}

#pu353-4
{
	width: 0.01px;
	padding-bottom: 6px;
	margin-top: 12px;
}

#u353-4
{
	z-index: 31;
	width: 152px;
	min-height: 17px;
	line-height: 36px;
	color: #0000FF;
	font-size: 30px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,58,94);
	-ms-transform: matrix(0,-1,1,0,58,94);
	-o-transform: matrix(0,-1,1,0,58,94);
	transform: matrix(0,-1,1,0,58,94);
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: -58px;
}

#pu358
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 38px;
}

#u358
{
	z-index: 51;
	width: 14px;
	position: relative;
}

#u362
{
	z-index: 55;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u360
{
	z-index: 53;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u364
{
	z-index: 57;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u400
{
	z-index: 97;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u408
{
	z-index: 105;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u404
{
	z-index: 101;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#u412
{
	z-index: 109;
	width: 14px;
	margin-top: 3px;
	position: relative;
}

#pu352-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 57px;
}

#u352-4
{
	z-index: 27;
	width: 207px;
	color: #0000FF;
	position: relative;
}

#u351-4
{
	z-index: 23;
	width: 228px;
	color: #0000FF;
	position: relative;
}

#u350-4
{
	z-index: 19;
	width: 245px;
	min-height: 2px;
	color: #0000FF;
	position: relative;
}

#u349-4
{
	z-index: 15;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u391-4
{
	z-index: 61;
	width: 245px;
	color: #0000FF;
	margin-top: 1px;
	position: relative;
}

#u394-4
{
	z-index: 73;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u392-4
{
	z-index: 65;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#u395-4
{
	z-index: 77;
	width: 245px;
	color: #0000FF;
	position: relative;
}

#pu402
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: -8px;
}

#u402
{
	z-index: 99;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u396-4
{
	z-index: 81;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u410
{
	z-index: 107;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u397-4
{
	z-index: 85;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u514
{
	z-index: 133;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u516-4
{
	z-index: 135;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u422
{
	z-index: 119;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u426-4
{
	z-index: 129;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#pu514,#pu406
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: -2px;
}

#u406
{
	z-index: 103;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u393-4
{
	z-index: 69;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u414
{
	z-index: 111;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u398-4
{
	z-index: 89;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u416
{
	z-index: 113;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u399-4
{
	z-index: 93;
	width: 245px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#pu410,#pu422,#pu418
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: -1px;
}

#u418
{
	z-index: 115;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u424-4
{
	z-index: 121;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#pu414,#pu416,#pu420
{
	width: 0.01px;
	margin-left: 38px;
}

#u420
{
	z-index: 117;
	width: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u425-4
{
	z-index: 125;
	width: 200px;
	color: #0000FF;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#pu354-4
{
	width: 0.01px;
	margin-top: 26px;
}

#u354-4
{
	z-index: 35;
	width: 146px;
	min-height: 17px;
	line-height: 36px;
	color: #0000FF;
	font-size: 30px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,55,91);
	-ms-transform: matrix(0,-1,1,0,55,91);
	-o-transform: matrix(0,-1,1,0,55,91);
	transform: matrix(0,-1,1,0,55,91);
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: -55px;
}

#u518
{
	z-index: 139;
	width: 304px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#pu355-4
{
	width: 0.01px;
	margin-top: 31px;
}

#u355-4
{
	z-index: 39;
	width: 129px;
	min-height: 36px;
	line-height: 36px;
	color: #0000FF;
	font-size: 30px;
	font-style: italic;
	-webkit-transform: matrix(0,-1,1,0,47,83);
	-ms-transform: matrix(0,-1,1,0,47,83);
	-o-transform: matrix(0,-1,1,0,47,83);
	transform: matrix(0,-1,1,0,47,83);
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: -47px;
}

#u353,#u352,#u351,#u350,#u349,#u391,#u394,#u392,#u395,#u396,#u397,#u516,#u426,#u393,#u398,#u399,#u424,#u425,#u354,#u355
{
	text-decoration: underline;
}

#u366
{
	z-index: 59;
	width: 302px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u341
{
	z-index: 8;
	width: 303px;
	margin-left: 38px;
	margin-top: 33px;
	position: relative;
}

#u345
{
	z-index: 11;
	width: 392px;
	-webkit-transform: matrix(0,1,-1,0,348,-44);
	-ms-transform: matrix(0,1,-1,0,348,-44);
	-o-transform: matrix(0,1,-1,0,348,-44);
	transform: matrix(0,1,-1,0,348,-44);
	left: -6px;
	margin-top: 76px;
	margin-bottom: 44px;
	position: relative;
}

#u347
{
	z-index: 13;
	width: 304px;
	margin-left: 38px;
	margin-top: 32px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

